.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--surface);
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--spacing-large);
  gap: var(--spacing-normal);

  a {
    text-decoration: none;
    color: var(--text-primary);

    &.active {
      text-decoration: underline;
    }
  }
}

.activeLink {
  text-decoration: underline;
}
