@import './variables.scss';

// Animations

@mixin check-reduce-motion() {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin add-animation() {
  @include check-reduce-motion() {
    :global {
      @content;
    }
  }
}

// Media queries
@mixin min-tablet-small($device: 'screen') {
  @media only #{$device} and (min-width: $screen-size-tablet-small) {
    @content;
  }
}

@mixin min-tablet-large($device: 'screen') {
  @media only #{$device} and (min-width: $screen-size-tablet-large) {
    @content;
  }
}

@mixin min-desktop-small($device: 'screen') {
  @media only #{$device} and (min-width: $screen-size-desktop-small) {
    @content;
  }
}

@mixin min-desktop-large($device: 'screen') {
  @media only #{$device} and (min-width: $screen-size-desktop-large) {
    @content;
  }
}
