.wrapper {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;

  th,
  td {
    text-align: start;
    padding: var(--spacing-large);
    border: 1px solid var(--border-primary);
    white-space: nowrap;
  }

  th {
    font-weight: var(--font-weight-bold);
  }

  thead {
    border-block-end: 1px solid var(--border-primary);
  }

  &.stripped {
    tbody {
      tr:nth-child(odd) {
        background-color: var(--background);
      }
    }
  }
}
