.link {
  display: inline-block;
  text-decoration: underline;
  color: var(--text-primary);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);
}
