.wrapper {
  background-color: var(--surface);
  padding: var(--spacing-large);
  border-radius: var(--shape-rounded);
  box-shadow: var(--box-shadow);
  overflow-wrap: break-word;

  &.success {
    background-color: var(--success-secondary);
    color: var(--success-primary);
  }

  &.error {
    background-color: var(--error-secondary);
    color: var(--error-primary);
  }
}
