@import 'src/styles/mixins.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-normal);
  border-radius: var(--shape-rounded);
  width: 100%;
  min-width: 0;
  border: 0;
  user-select: none;
  color: var(--button-primary-text);
  background-color: var(--button-primary);

  @include check-reduce-motion() {
    animation: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0 0 0 var(--spacing-small) var(--outline);
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.65;
    box-shadow: none;
    text-decoration: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.small {
  padding: var(--spacing-small);
}

.large {
  padding: var(--spacing-large);
}

.secondary {
  color: var(--button-secondary-text);
  background-color: var(--button-secondary);
}

.info {
  color: var(--button-info-text);
  background-color: var(--button-info);
}

.error {
  color: var(--button-error-text);
  background-color: var(--button-error);
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spinner {
  height: var(--line-height-normal);

  @include add-animation() {
    animation: spin infinite 2s linear;
  }
}
